@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;600;700;800;900&family=Google+Sans+Display:wght@100;200;300;400;500;600;700;800;900&&family=Product+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto&family=Google+Symbols:opsz,wght,FILL,GRAD@24,400,0,0&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Google Sans", Roboto, sans-serif;
  letter-spacing: 0.0107142857rem;
  background: white;
  color: #3c4043;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
